@media (min-width: 1921px) and (max-width: 3000px)
  html
    font-size: 11px
@media (min-width: 1601px) and (max-width: 1800px)
  html
    font-size: 9px
@media (min-width: 1401px) and (max-width: 1600px)
  html
    font-size: 8px
@media (min-width: 1200px) and (max-width: 1400px)
  html
    font-size: 6.5px
@media (min-width: 1011px) and (max-width: 1199px)
  html
    font-size: 6px

@media (min-width: 320px) and (max-width: 400px)
  #first
    height: 100vh

    header
      .logo
        margin: 0
        margin-top: 1.9rem
        margin-bottom: 1.5rem
        padding-left: 2.6rem
        padding-right: 2.6rem
        justify-content: space-between

        h2
          font-size: 2rem
          letter-spacing: 0.34rem

        #in-menu
          display: block
          border: none
          width: 2.5rem
          height: 1.9rem
          background: url("../icon/in-menu.png") center no-repeat
          background-size: contain
          cursor: pointer

    .first-back2
      background: url("../icon/first-back2-mobile.png") center no-repeat
      width: 100%
      background-size: cover
      height: 43vh
      right: 0
      bottom: 0

    .first-back3
      display: none

    .container
      margin: 0
      align-items: center

      h2
        margin: 2.9rem .2rem 4.3rem
        font-size: 1.9rem
        line-height: 2.6rem
        letter-spacing: 0.3rem
        font-family: $second_font

      ul
        margin: 0
        margin-left: 2rem
        margin-right: 2rem
        li
          margin-left: 2.5rem
          margin-bottom: 1.7rem
          font-size: 1.1rem
          letter-spacing: 0.12rem

          &:before
            width: 1.4rem
            height: 1rem

      button
        margin: 0
        margin-top: 3rem
        width: 20.3rem
        height: 3.2rem
        letter-spacing: 0.12rem
        font-size: 1.1rem
        border: 0.2rem solid #7a0303
        margin-right: 5rem

      #round
        width: 5.6rem
        height: 5.7rem
        top: 29rem
        left: 25rem

  #second
    .container
      padding: 2.6rem 1.5rem 2.5rem

      h2
        margin: 0
        font-size: 2rem
        letter-spacing: 0.3rem

        &:after
          height: 0.1rem
          width: 100%
          top: 3.5rem

      ul
        margin-top: 4rem
        li
          margin-bottom: 2.4rem
          margin-left: 0
          margin-right: 0
          div
            img
          h3
            margin-top: 1.2rem
          p
            margin-top: 0.6rem
            font-size: 1.7rem

  #third
    .container
      margin: 0
      padding: 2.6rem 1.5rem 2.5rem

      h2
        margin: 0
        font-size: 2.1rem
        letter-spacing: 0.3rem
        text-align: center

        &:after
          height: 0.1rem
          width: 60%
          top: 6rem

      ul.content
        margin-top: 3rem
        width: 100%

        li
          width: 29.6rem
          height: 31.1rem
          margin: 0

          img
            width: 29.6rem
            height: 31.1rem

          .content-li
            padding: 0

            h3
              margin: 0
              font-size: 2.4rem
              line-height: 2.536rem
              letter-spacing: 0.14rem
            p
              margin: 0
              font-size: 1.5rem
              line-height: 2.54rem
              letter-spacing: 0.02rem
            a
              margin: 0
              width: 20.4rem
              height: 3.3rem
              border: 0.2rem solid #7a0303
              font-size: 1.9rem
              letter-spacing: 0.15rem

              &:hover
          .in-dev
            margin: 0
            h3
              margin: 0