#second
  display: flex
  flex-direction: column
  background: url("../img/second-back.png") center #080808
  color: #0f0e0e
  align-items: center

  .container
    display: flex
    flex-direction: column

    h2
      color: #1a1919
      text-transform: uppercase
      text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.7)
      font-size: 4rem
      letter-spacing: 0.4rem
      margin-top: 9.5rem
      text-align: center
      font-family: $third_font

    ul
      list-style: none
      display: flex
      flex-wrap: wrap
      margin-top: 10.5rem

      li
        display: flex
        flex-direction: column
        width: 27.5rem
        margin-left: 1rem
        margin-right: 1rem
        margin-bottom: 9rem

        div
          display: flex
          justify-content: center

          img
            height: 10.1rem
            width: auto

        h3
          margin-top: 2.4rem
          font-size: 2.4rem
          letter-spacing: 0.06rem
          font-family: $third_font
          text-align: center

        p
          margin-top: 1.4rem
          font-size: 1.8rem
          letter-spacing: 0.045rem
          line-height: 2.4rem
          text-align: center
