@media (min-width: 1921px) and (max-width: 3000px)
    html
        font-size: 11px
@media (min-width: 1601px) and (max-width: 1800px)
    html
        font-size: 9px
@media (min-width: 1401px) and (max-width: 1600px)
    html
        font-size: 8px
@media (min-width: 1200px) and (max-width: 1400px)
    html
        font-size: 6px
@media (min-width: 1011px) and (max-width: 1199px)
    html
        font-size: 6px
