=reset
    padding: 0
    margin: 0
@media (min-width: 315px) and (max-width: 929px)
    html
        body
            main
                header
                    display: flex
                    background-color: #1d110d
                    box-shadow: 0.2rem 0.1rem 0.5rem 0.1rem #160b07
                    z-index: 4
                    > .container
                        +reset
                        flex-direction: column
                        > div
                            padding-top: 1.6rem
                            padding-bottom: 1.5rem
                            justify-content: space-around
                            > a
                                > img
                                    width: 24.1rem
                                    height: 4.4rem
                            .mobile_menu_enter
                                cursor: pointer
                                display: block
                                background: url("../icon/menu.png") center
                                background-size: contain
                                border: none
                                width: 4.8rem
                                height: 3.5rem
                                //margin-left: 5rem
                            .mobile_menu_exit
                                cursor: pointer
                                border: none
                                width: 4rem
                                height: 4rem
                                background: url("../icon/menu_exit.png") center
                                background-size: contain
                                margin-right: 0.4rem
                                margin-left: 0.4rem
                            #mobile_exit
                                display: none
                        > nav
                            font-size: 2rem
                            font-weight: 400
                            letter-spacing: 0.03rem
                            width: 100%
                            flex-direction: column
                            transition: 0.4s ease
                            height: 90%
                            display: none
                            > a
                                color: #e5d187
                        > .contact
                            display: none
                            > button
                                > img
                            > p
                #first_section
                    *
                        +reset
                    > .container
                        > .logo_block
                            +reset
                            flex-direction: column
                            margin-left: 1rem
                            margin-right: 1rem
                            margin-top: 3.4rem
                            > .address                               
                                +reset
                                margin-bottom: 3.5rem
                                > div
                                    +reset
                                    width: 1.8rem
                                    height: 2.7rem
                                    margin-right: 1rem
                                > p
                                    +reset
                                    font-size: 1.8rem
                                    > span
                                        display: none
                            > .logo
                                margin-bottom: 3.5rem
                                order: 2
                                > a
                                    > img
                                        width: 30.6rem
                                        height: 5.4rem
                            > .contact
                                order: -1
                                +reset
                                align-self: auto
                                margin-bottom: 1rem
                                #call
                                    +reset
                                    width: 2.2rem
                                    height: 2rem
                                    margin-right: 1rem
                                > p
                                    +reset
                                    font-size: 2.2rem
                                    margin-right: 1rem
                                > .cont_call
                                    flex: 2
                                    display: flex
                                    justify-content: flex-start
                                    #call_me
                                        +reset
                                        width: 15.8rem
                                        height: 3.4rem
                                        border-radius: 0.5rem
                                        border: 0.3rem solid #e1cb89
                                        font-size: 1.5rem
                                        letter-spacing: 0
                                > div
                                    display: flex
                                    justify-content: flex-end
                                    flex: 1
                                    .mobile_menu_enter
                                        cursor: pointer
                                        display: block
                                        // background: url("../icon/menu.png") center
                                        // background-size: contain
                                        border: none
                                        width: 4.8rem
                                        height: 3.5rem
                                        //margin-left: 5rem
                                    .mobile_menu_exit
                                        cursor: pointer
                                        border: none
                                        width: 4rem
                                        height: 4rem
                                        // background: url("../icon/menu_exit.png") center
                                        // background-size: contain
                        > .content
                            width: 100%
                            > h3
                                +reset
                                font-size: 1.9rem
                                font-weight: 400
                                line-height: 2.722rem
                                letter-spacing: 0.09rem
                            > .line
                                +reset
                                margin-top: 1.6rem
                                margin-bottom: 1.6rem
                                width: 90%
                                align-self: center
                            > p
                                +reset
                                font-size: 1.6rem
                                letter-spacing: 0.07rem
                            > button
                                +reset
                                width: 27.4rem
                                height: 4.1rem
                                box-shadow: 0 0 2.4rem 0.1rem rgba(0, 0, 0, 0.27), 0 0 1.3rem rgba(255, 255, 255, 0.08);
                                border-radius: 1rem
                                background-image: linear-gradient(to top, #e3cd70 0%, #e0bf75 56%, #e0bf75 57%, #ebc97c 100%)
                                font-size: 1.1rem
                                letter-spacing: 0.1rem
                                font-family: Merriweather
                                font-weight: 700
                                margin-top: 3.2rem
                                margin-bottom: 2.4rem
                #second_section
                    +reset
                    > .container
                        +reset
                        margin-top: 1.2rem
                        width: 100%
                        margin-left: 1.2rem
                        margin-right: 1.2rem 
                        > .gallery_wrapper
                            > img
                                +reset
                                width: 19.2rem
                                height: 18.8rem
                                margin-bottom: 1.2rem
                        > .view_menu_block
                            > img
                                +reset
                                width: 17.5rem
                                height: 10.5rem
                            > button
                                +reset
                                margin-bottom: 1.5rem
                                margin-top: 0.5rem
                                width: 28.3rem
                                height: 4rem
                                font-size: 1.7rem
                                letter-spacing: 0.2rem
                                > div
                                    width: 3.3rem
                                    height: 3rem
                                    left: -2rem
                                    bottom: 2rem
                    > .tomato
                        display: none
                    > .pepper
                        display: none
                    > .peppers
                        display: none
                    > .peppers1_mobile
                        display: block
                        z-index: -1
                    > .peppers2_mobile
                        display: block
                        z-index: -1
                #third_section
                    +reset
                    background: url("../img/third-bg-mobile.png") top  
                    > .container
                        +reset
                        padding-top: 4.1rem
                        padding-bottom: 3rem
                        width: 100%
                        > h3
                            font-size: 2.9rem
                            text-align: center
                            +reset
                        > .wrapper
                            +reset
                            margin-top: 2.8rem
                            margin-bottom: 0.6rem
                            > div
                                +reset
                                > img
                                    width: 19.4rem
                                    height: 24.1rem
                                    +reset
                                    margin-left: 0.6rem
                                    margin-right: 0.6rem
                                    margin-bottom: 1rem
                                > p
                                    font-size: 1.3rem
                                    line-height: 1.7rem
                                    top: 14.5rem
                        > button
                            +reset  
                            width: 28.6rem
                            height: 4.4rem
                            font-size: 2rem
                            > div
                                width: 1.4rem
                                height: 0.8rem
                                bottom: 1.3rem
                                right: 1.4rem
                #third_section_continue
                    +reset
                    div:first-child
                        display: none
                    div:nth-child(2)
                        display: none
                    > .container
                        +reset
                        width: 97%
                        border: none
                        padding-top: 3rem
                        > p
                            +reset   
                            font-size: 1.6rem
                            font-weight: 400
                            letter-spacing: 0.072rem
                            line-height: 2.2rem  
                            margin-bottom: 2.5rem    
                #fourth_section       
@media (min-width: 551px) and (max-width: 929px)
    html
        font-size: 13px
    .gallery_wrapper
        justify-content: space-around   !important
@media (min-width: 501px) and (max-width: 550px)
    html
        font-size: 12px
@media (min-width: 450px) and (max-width: 500px)
    html
        font-size: 11px                   
@media (min-width: 370px) and (max-width: 414px)
    html
        font-size: 9px
@media (min-width: 315px) and (max-width: 369px)
    html
        font-size: 8px
// etc
@media (max-width: 330px)
    #second_section
        .gallery_wrapper
            img
                width: 19.2rem * 0.9 !important
                height: 18.8rem * 0.9 !important

    #third_section
        .wrapper
            > div
                > p
                    top: 12rem !important
                    font-size: 1.2rem !important
            img
                width: 19.4rem * 0.9 !important
                height: 24.1rem * 0.9 !important