html {
  font-size: 10px;
}

body {
  background: url("../img/so-white.png");
}

html,
body,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

header {
  display: none;
  background-color: #fff;
  font-family: "Merriweather";
  -webkit-box-shadow: 0.2rem 0.1rem 0.5rem 0.1rem rgba(150, 146, 146, 0.36);
          box-shadow: 0.2rem 0.1rem 0.5rem 0.1rem rgba(150, 146, 146, 0.36);
  position: fixed;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
}

header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 2.8rem;
  padding-bottom: 2.3rem;
}

header > .container > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  z-index: 5;
}

header > .container > div > a {
  height: auto;
}

header > .container > div > a > img {
  width: 24.9rem;
  height: 5.3rem;
}

header > .container > div > button {
  display: none;
}

header > .container > nav {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 118rem;
  overflow: hidden;
  z-index: 2;
}

header > .container > nav > a {
  text-decoration: none;
  color: #33270d;
  font-size: 2.4rem;
  font-weight: 400;
}

header > .container > .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1rem;
}

header > .container > .contact > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 3.2rem;
  height: 2.96rem;
  padding: 0;
  margin-left: 8rem;
}

header > .container > .contact > button > img {
  width: 3.2rem;
  height: 2.96rem;
}

header > .container > .contact > p {
  color: #33270d;
  font-size: 3rem;
  font-weight: 400;
  margin-right: 2rem;
}

#first_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Merriweather";
  color: #dec58c;
  background: url("../img/back_1_sect.png") center;
  background-size: cover;
}

#first_section > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#first_section > .container > .logo_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 8.5rem 6rem 12rem 6rem;
}

#first_section > .container > .logo_block > .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

#first_section > .container > .logo_block > .address > div {
  background: url("../icon/pin.png") center;
  background-size: contain;
  width: 2.9rem;
  height: 4.4rem;
}

#first_section > .container > .logo_block > .address > p {
  padding-left: 2rem;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.022rem;
}

#first_section > .container > .logo_block > .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#first_section > .container > .logo_block > .logo > a {
  width: auto;
  height: auto;
}

#first_section > .container > .logo_block > .logo > a > img {
  width: 49.4rem;
  height: 8.8rem;
}

#first_section > .container > .logo_block > .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

#first_section > .container > .logo_block > .contact > #call {
  cursor: pointer;
  width: 4rem;
  height: 3.7rem;
  border: none;
  padding: 0;
  background: url("../icon/call.png") center;
  background-size: contain;
  -webkit-box-shadow: 0 0 0 rgba(34, 34, 31, 0.75);
          box-shadow: 0 0 0 rgba(34, 34, 31, 0.75);
}

#first_section > .container > .logo_block > .contact > p {
  font-size: 3rem;
  font-weight: 400;
  padding-right: 3.7rem;
  padding-left: 2rem;
}

#first_section > .container > .logo_block > .contact > .cont_call > #call_me {
  cursor: pointer;
  width: 24rem;
  height: 4.7rem;
  border-radius: 0.5rem;
  border: 0.3rem solid #e1cb89;
  background: transparent;
  font-size: 2.2rem;
  font-weight: 400;
  color: #dec58c;
}

#first_section > .container > .logo_block > .contact .mobile_menu_enter {
  display: none;
}

#first_section > .container > .logo_block > .contact .mobile_menu_exit {
  display: none;
}

#first_section > .container > .content {
  -ms-flex-item-align: center;
      align-self: center;
  width: 125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#first_section > .container > .content > h3 {
  font-family: "Romul";
  text-orientation: uppercase;
  text-shadow: 0.9rem 0.2rem 0.7rem rgba(0, 0, 0, 0.6), 0 0 0 rgba(34, 34, 31, 0.75);
  font-size: 6rem;
  font-weight: 400;
  line-height: 8rem;
  letter-spacing: 0.09rem;
  text-align: center;
  margin: 0;
  padding-bottom: 3.2rem;
}

#first_section > .container > .content > .line {
  height: 0.1rem;
  background-color: #e1cb89;
  margin-bottom: 2rem;
  opacity: 0.7;
}

#first_section > .container > .content > p {
  text-shadow: 0.9rem 0.2rem 0.7rem rgba(0, 0, 0, 0.6), 0 0 0 rgba(34, 34, 31, 0.75);
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.12rem;
  text-align: center;
}

#first_section > .container > .content > button {
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 6rem;
  margin-bottom: 13rem;
  border: none;
  width: 73.3rem;
  height: 10.7rem;
  -webkit-box-shadow: 0 0 2.4rem 0.1rem rgba(0, 0, 0, 0.27), 0 0 13px rgba(255, 255, 255, 0.08);
          box-shadow: 0 0 2.4rem 0.1rem rgba(0, 0, 0, 0.27), 0 0 13px rgba(255, 255, 255, 0.08);
  border-radius: 1rem;
  background-color: #e1cb89;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e3cd70), color-stop(56%, #e0bf75), color-stop(57%, #e0bf75), to(#ebc97c));
  background-image: linear-gradient(to top, #e3cd70 0%, #e0bf75 56%, #e0bf75 57%, #ebc97c 100%);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: #513623;
}

#second_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Merriweather";
  position: relative;
  overflow: hidden;
}

#second_section > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 118rem;
  margin-top: 6.2rem;
  position: relative;
}

#second_section > .container > .gallery_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#second_section > .container > .gallery_wrapper > img {
  width: 28rem;
  height: 27.3rem;
  margin-bottom: 2rem;
}

#second_section > .container > .view_menu_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#second_section > .container > .view_menu_block > img {
  width: 30.3rem;
  height: 18.2rem;
}

#second_section > .container > .view_menu_block > button {
  cursor: pointer;
  width: 48.8rem;
  height: 6.5rem;
  border-radius: 0.5rem;
  border: 0.4rem solid #e1cb89;
  background: transparent;
  color: #513623;
  font-family: "Merriweather";
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 7rem;
  margin-top: 1rem;
  position: relative;
}

#second_section > .container > .view_menu_block > button > div {
  width: 8rem;
  height: 7.2rem;
  position: absolute;
  left: -4rem;
  bottom: 2rem;
  background: url("../icon/second-lemmon.png") center;
  background-size: contain;
}

#second_section > .tomato {
  width: 8.7rem;
  height: 8.6rem;
  left: 1.8rem;
  top: 16rem;
  background: url("../icon/second-tomato.png") center;
  background-size: contain;
  position: absolute;
}

#second_section > .pepper {
  width: 10.7rem;
  height: 8.4rem;
  left: 7.2rem;
  top: 39rem;
  background: url("../icon/second-pepper.png") center;
  background-size: contain;
  position: absolute;
}

#second_section > .peppers {
  width: 30.8rem;
  height: 34.4rem;
  right: -4rem;
  top: 19.2rem;
  background: url("../icon/second-Peppers.png") center;
  background-size: contain;
  position: absolute;
}

#second_section > .peppers1_mobile {
  display: none;
  width: 9.5rem;
  height: 15.4rem;
  left: 0;
  top: 53.7rem;
  background: url("../icon/second-Peppers1.png") center;
  background-size: contain;
  position: absolute;
}

#second_section > .peppers2_mobile {
  display: none;
  width: 14.2rem;
  height: 15.8rem;
  right: 0;
  top: 12rem;
  background: url("../icon/second-Peppers2.png") center;
  background-size: contain;
  position: absolute;
}

#third_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Merriweather";
  background: url("../img/third-bg.png") top;
  overflow-y: hidden;
}

#third_section > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 118rem;
  padding-top: 6.6rem;
  padding-bottom: 6rem;
}

#third_section > .container > h3 {
  text-transform: uppercase;
  font-family: "Romul";
  text-shadow: 0.9rem 0.2rem 0.7rem rgba(0, 0, 0, 0.6), 0 0 0 rgba(34, 34, 31, 0.75);
  color: #dec58c;
  font-size: 6.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 0;
  text-align: center;
}

#third_section > .container > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

#third_section > .container > .wrapper > div {
  position: relative;
}

#third_section > .container > .wrapper > div > img {
  width: 27.1rem;
  height: 33.7rem;
  margin-bottom: 3.4rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

#third_section > .container > .wrapper > div > p {
  width: 100%;
  position: absolute;
  text-align: center;
  color: #513623;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.09rem;
  top: 21rem;
}

#third_section > .container > button {
  width: 42.1rem;
  height: 6.4rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0.4rem solid #e1cb89;
  background: transparent;
  color: #e2dfdd;
  font-family: "Merriweather";
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: relative;
}

#third_section > .container > button > div {
  width: 2.1rem;
  height: 1.2rem;
  position: absolute;
  right: 2.5rem;
  bottom: 2rem;
  background: url("../icon/third-btn.png") center;
  background-size: contain;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#third_section_continue {
  font-family: "Merriweather";
  padding-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: -1;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

#third_section_continue div:first-child {
  position: absolute;
  width: 27.8rem;
  height: 36.3rem;
  background: url("../img/third2.png") center;
  background-size: contain;
  left: 0;
  top: 4rem;
  overflow: hidden;
}

#third_section_continue div:nth-child(2) {
  position: absolute;
  width: 30.3rem;
  height: 36.5rem;
  background: url("../img/third3.png") center;
  background-size: contain;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#third_section_continue > .container {
  width: 112rem;
  border: 0.2rem solid #e1cb89;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 9rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

#third_section_continue > .container > p {
  text-align: center;
  color: #513623;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-bottom: 4rem;
}

#fourth_section {
  padding-top: 11.5rem;
  padding-bottom: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Merriweather";
  position: relative;
  overflow-x: hidden;
}

#fourth_section > h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 4rem;
  text-shadow: 9px 2px 10px rgba(228, 198, 89, 0.48), 0 0 0 rgba(34, 34, 31, 0.75);
  color: #d6be87;
  font-family: "Romul";
  font-size: 6.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

#fourth_section > .fourth_item_left {
  position: absolute;
  width: 26.7rem;
  height: 19.9rem;
  background: url("../icon/fourth_left.png") center;
  background-size: contain;
  left: -7rem;
  top: 25rem;
}

#fourth_section > .fourth_item_right {
  position: absolute;
  width: 20.8rem;
  height: 16.3rem;
  background: url("../icon/fourth_right.png") center;
  background-size: contain;
  right: -3rem;
  bottom: 7rem;
}

#fourth_section > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fourth_section > .container #gallery4 {
  width: 119.6rem;
  height: 62.8rem;
  border: 0.4rem solid #e3c880;
  margin-bottom: 3.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#fourth_section > .container #gallery4 > .wrapper {
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: inherit;
}

#fourth_section > .container #gallery4 > .wrapper > #images {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#fourth_section > .container #gallery4 > .wrapper > #images > div {
  position: relative;
}

#fourth_section > .container #gallery4 > .wrapper > #images > div > .text-gallery {
  position: absolute;
  width: 116.6rem;
  height: 59.6rem;
  left: 0;
  top: 0;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#fourth_section > .container #gallery4 > .wrapper > #images > div > .text-gallery > div {
  text-align: center;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fourth_section > .container #gallery4 > .wrapper > #images > div > .text-gallery > div > p {
  text-shadow: 9px 2px 9px rgba(46, 46, 46, 0.63);
  color: #e3c880;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.65rem;
  letter-spacing: 0.36rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

#fourth_section > .container #gallery4 > .wrapper > #images > div > .text-gallery > div > p > span {
  color: #ffffff;
}

#fourth_section > .container #gallery4 > .wrapper > #images > div > .text-gallery > div > .line {
  background-color: #e3c880;
  height: 0.2rem;
  width: 90%;
}

#fourth_section > .container #gallery4 > .wrapper > #images > div > .gallery4_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 116.6rem;
  height: 59.6rem;
}

#fourth_section > .container #prev4 {
  width: 3.7rem;
  height: 6.7rem;
  cursor: pointer;
  border: 0;
  background: url("../icon/gallery4_btn.png") center;
  background-size: contain;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#fourth_section > .container #next4 {
  width: 3.7rem;
  height: 6.7rem;
  cursor: pointer !important;
  border: 0;
  background: url("../icon/gallery4_btn.png") center;
  background-size: contain;
}

#fourth_section #wrapper_btn4 {
  display: inline-block;
}

#fourth_section #wrapper_btn4 > button {
  background: #d8d7d7;
  margin-right: 1rem;
  margin-left: 1rem;
  z-index: 8;
  border: none;
  width: 8px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.active_btn4 {
  background: #9a9a9a !important;
}

#fifth_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Merriweather";
  background: url("../img/fifth_bg.png") top;
  overflow-y: hidden;
  padding-top: 8.2rem;
}

#fifth_section > h3 {
  font-family: "Romul";
  margin-bottom: 9.2rem;
  text-transform: uppercase;
  text-shadow: 9px 2px 7px rgba(0, 0, 0, 0.6), 0 0 0 rgba(34, 34, 31, 0.75);
  color: #dec58c;
  font-size: 6.5rem;
  font-weight: 400;
  margin-top: 0;
  letter-spacing: 0.2rem;
  text-align: center;
}

#fifth_section > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120rem;
}

#fifth_section > .container > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#fifth_section > .container > .wrapper > div {
  position: relative;
}

#fifth_section > .container > .wrapper > div > img {
  width: 27.1rem;
  height: 39.3rem;
  margin-bottom: 6rem;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

#fifth_section > .container > .wrapper > div > p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: absolute;
  text-align: center;
  color: #513623;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0rem;
  top: 25rem;
}

#fifth_section > .container > .wrapper > div > div {
  width: 5.4rem;
  height: 5.4rem;
  position: absolute;
  -webkit-box-shadow: 4px 1px 9px 1px rgba(34, 30, 17, 0.55);
          box-shadow: 4px 1px 9px 1px rgba(34, 30, 17, 0.55);
  border: 0.1rem solid #c3aa70;
  border-radius: 50%;
  background-color: #dec384;
  left: -0.3rem;
  top: -1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fifth_section > .container > .wrapper > div > div > p {
  font-size: 3.3rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

#fifth_section > .container > button {
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 8rem;
  border: none;
  width: 64.2rem;
  height: 10rem;
  -webkit-box-shadow: 0 0 2.4rem 0.1rem rgba(0, 0, 0, 0.27), 0 0 13px rgba(255, 255, 255, 0.08);
          box-shadow: 0 0 2.4rem 0.1rem rgba(0, 0, 0, 0.27), 0 0 13px rgba(255, 255, 255, 0.08);
  border-radius: 1rem;
  background-color: #e1cb89;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e3cd70), color-stop(56%, #e0bf75), color-stop(57%, #e0bf75), to(#ebc97c));
  background-image: linear-gradient(to top, #e3cd70 0%, #e0bf75 56%, #e0bf75 57%, #ebc97c 100%);
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: #513623;
}

#sixth_section {
  padding-top: 12rem;
  padding-bottom: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Merriweather";
  position: relative;
  overflow-x: hidden;
}

#sixth_section > h3 {
  text-align: center;
  color: #d6be87;
  text-align: center;
  font-size: 6.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-shadow: 9px 2px 10px rgba(220, 199, 124, 0.48), 0 0 0 rgba(34, 34, 31, 0.75);
  margin: 0;
  margin-bottom: 10rem;
  text-transform: uppercase;
  font-family: "Romul";
}

#sixth_section > .sixth_left {
  position: absolute;
  width: 25.8rem;
  height: 36.9rem;
  left: 0;
  top: 22rem;
  background: url("../img/sixth_left.png") center no-repeat;
  background-size: contain;
  overflow: hidden;
}

#sixth_section > .sixth_right {
  position: absolute;
  width: 24.4rem;
  height: 36.5rem;
  right: 0;
  bottom: 9rem;
  background: url("../img/sixth_right.png") center no-repeat;
  background-size: contain;
  overflow: hidden;
}

#sixth_section > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sixth_section > .container #gallery6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 68.3rem;
  width: 126.6rem;
}

#sixth_section > .container #gallery6 > .wrapper {
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: inherit;
}

#sixth_section > .container #gallery6 > .wrapper > #images6 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#sixth_section > .container #gallery6 > .wrapper > #images6 > .gallery6_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 39.2rem;
  height: 68.3rem;
  background: url("../img/sixth_default.png") center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sixth_section > .container #gallery6 > .wrapper > #images6 > .gallery6_item > img {
  width: 29rem;
  height: 58.4rem;
  margin-right: 0.5rem;
  margin-top: 0.8rem;
  border-radius: 1.5rem;
}

#sixth_section > .container #prev6 {
  width: 3.7rem;
  height: 6.7rem;
  cursor: pointer;
  border: 0;
  background: url("../icon/gallery4_btn.png") center;
  background-size: contain;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#sixth_section > .container #next6 {
  width: 3.7rem;
  height: 6.7rem;
  cursor: pointer !important;
  border: 0;
  background: url("../icon/gallery4_btn.png") center;
  background-size: contain;
}

#sixth_section #wrapper_btn6 {
  display: none;
}

#sixth_section #wrapper_btn6 > button {
  background: #d8d7d7;
  margin-right: 1rem;
  margin-left: 1rem;
  z-index: 8;
  border: none;
  width: 8px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 1921px) and (max-width: 3000px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  html {
    font-size: 8px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  html {
    font-size: 7px;
  }
}

@media (min-width: 1011px) and (max-width: 1199px) {
  html {
    font-size: 6px;
  }
}

@media (min-width: 315px) and (max-width: 1010px) {
  html body main header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #1d110d;
    -webkit-box-shadow: 0.2rem 0.1rem 0.5rem 0.1rem #160b07;
            box-shadow: 0.2rem 0.1rem 0.5rem 0.1rem #160b07;
    z-index: 4;
  }
  html body main header > .container {
    padding: 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body main header > .container > div {
    margin: 0;
    padding-top: 1.8rem;
    padding-bottom: 0.8rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  html body main header > .container > div > a > img {
    width: 24.1rem;
    height: 4.4rem;
  }
  html body main header > .container > div .mobile_menu_enter {
    cursor: pointer;
    display: block;
    background: url("../icon/menu.png") center;
    background-size: contain;
    border: none;
    width: 4.8rem;
    height: 3.5rem;
  }
  html body main header > .container > div .mobile_menu_exit {
    cursor: pointer;
    border: none;
    width: 4rem;
    height: 4rem;
    background: url("../icon/menu_exit.png") center;
    background-size: contain;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
  }
  html body main header > .container > div #mobile_exit {
    display: none;
  }
  html body main header > .container > nav {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    height: 90%;
  }
  html body main header > .container > nav > a {
    color: #e5d187;
  }
  html body main header > .container > .contact {
    display: none;
  }
  html body main #first_section * {
    padding: 0;
    margin: 0;
  }
  html body main #first_section > .container > .logo_block {
    padding: 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3.4rem;
  }
  html body main #first_section > .container > .logo_block > .address {
    padding: 0;
    margin: 0;
    margin-bottom: 3.5rem;
  }
  html body main #first_section > .container > .logo_block > .address > div {
    padding: 0;
    margin: 0;
    width: 1.8rem;
    height: 2.7rem;
    margin-right: 1rem;
  }
  html body main #first_section > .container > .logo_block > .address > p {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
  }
  html body main #first_section > .container > .logo_block > .address > p > span {
    display: none;
  }
  html body main #first_section > .container > .logo_block > .logo {
    margin-bottom: 3.5rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  html body main #first_section > .container > .logo_block > .logo > a > img {
    width: 30.6rem;
    height: 5.4rem;
  }
  html body main #first_section > .container > .logo_block > .contact {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding: 0;
    margin: 0;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    margin-bottom: 1rem;
  }
  html body main #first_section > .container > .logo_block > .contact #call {
    padding: 0;
    margin: 0;
    width: 2.2rem;
    height: 2rem;
    margin-right: 1rem;
  }
  html body main #first_section > .container > .logo_block > .contact > p {
    padding: 0;
    margin: 0;
    font-size: 2.2rem;
    margin-right: 1rem;
  }
  html body main #first_section > .container > .logo_block > .contact > .cont_call {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  html body main #first_section > .container > .logo_block > .contact > .cont_call #call_me {
    padding: 0;
    margin: 0;
    width: 15.8rem;
    height: 3.4rem;
    border-radius: 0.5rem;
    border: 0.3rem solid #e1cb89;
    font-size: 1.5rem;
    letter-spacing: 0;
  }
  html body main #first_section > .container > .logo_block > .contact > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  html body main #first_section > .container > .logo_block > .contact > div .mobile_menu_enter {
    cursor: pointer;
    display: block;
    border: none;
    width: 4.8rem;
    height: 3.5rem;
  }
  html body main #first_section > .container > .logo_block > .contact > div .mobile_menu_exit {
    cursor: pointer;
    border: none;
    width: 4rem;
    height: 4rem;
  }
  html body main #first_section > .container > .content {
    width: 100%;
  }
  html body main #first_section > .container > .content > h3 {
    padding: 0;
    margin: 0;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 2.722rem;
    letter-spacing: 0.09rem;
  }
  html body main #first_section > .container > .content > .line {
    padding: 0;
    margin: 0;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    width: 90%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  html body main #first_section > .container > .content > p {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    letter-spacing: 0.07rem;
  }
  html body main #first_section > .container > .content > button {
    padding: 0;
    margin: 0;
    width: 27.4rem;
    height: 4.1rem;
    -webkit-box-shadow: 0 0 2.4rem 0.1rem rgba(0, 0, 0, 0.27), 0 0 1.3rem rgba(255, 255, 255, 0.08);
            box-shadow: 0 0 2.4rem 0.1rem rgba(0, 0, 0, 0.27), 0 0 1.3rem rgba(255, 255, 255, 0.08);
    border-radius: 1rem;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#e3cd70), color-stop(56%, #e0bf75), color-stop(57%, #e0bf75), to(#ebc97c));
    background-image: linear-gradient(to top, #e3cd70 0%, #e0bf75 56%, #e0bf75 57%, #ebc97c 100%);
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    font-family: Merriweather;
    font-weight: 700;
    margin-top: 3.2rem;
    margin-bottom: 2.4rem;
  }
  html body main #second_section {
    padding: 0;
    margin: 0;
  }
  html body main #second_section > .container {
    padding: 0;
    margin: 0;
    margin-top: 1.2rem;
    width: 100%;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
  html body main #second_section > .container > .gallery_wrapper > img {
    padding: 0;
    margin: 0;
    width: 19.2rem;
    height: 18.8rem;
    margin-bottom: 1.2rem;
  }
  html body main #second_section > .container > .view_menu_block > img {
    padding: 0;
    margin: 0;
    width: 17.5rem;
    height: 10.5rem;
  }
  html body main #second_section > .container > .view_menu_block > button {
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    width: 28.3rem;
    height: 4rem;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
  }
  html body main #second_section > .container > .view_menu_block > button > div {
    width: 3.3rem;
    height: 3rem;
    left: -2rem;
    bottom: 2rem;
  }
  html body main #second_section > .tomato {
    display: none;
  }
  html body main #second_section > .pepper {
    display: none;
  }
  html body main #second_section > .peppers {
    display: none;
  }
  html body main #second_section > .peppers1_mobile {
    display: block;
    z-index: -1;
  }
  html body main #second_section > .peppers2_mobile {
    display: block;
    z-index: -1;
  }
  html body main #third_section {
    padding: 0;
    margin: 0;
    background: url("../img/third-bg-mobile.png") top;
  }
  html body main #third_section > .container {
    padding: 0;
    margin: 0;
    padding-top: 4.1rem;
    padding-bottom: 3rem;
    width: 100%;
  }
  html body main #third_section > .container > h3 {
    font-size: 2.9rem;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  html body main #third_section > .container > .wrapper {
    padding: 0;
    margin: 0;
    margin-top: 2.8rem;
    margin-bottom: 0.6rem;
  }
  html body main #third_section > .container > .wrapper > div {
    padding: 0;
    margin: 0;
  }
  html body main #third_section > .container > .wrapper > div > img {
    width: 19.4rem;
    height: 24.1rem;
    padding: 0;
    margin: 0;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-bottom: 1rem;
  }
  html body main #third_section > .container > .wrapper > div > p {
    font-size: 1.3rem;
    line-height: 1.7rem;
    top: 14.5rem;
  }
  html body main #third_section > .container > button {
    padding: 0;
    margin: 0;
    width: 28.6rem;
    height: 4.4rem;
    font-size: 2rem;
  }
  html body main #third_section > .container > button > div {
    width: 1.4rem;
    height: 0.8rem;
    bottom: 1.3rem;
    right: 1.4rem;
  }
  html body main #third_section_continue {
    padding: 0;
    margin: 0;
  }
  html body main #third_section_continue div:first-child {
    display: none;
  }
  html body main #third_section_continue div:nth-child(2) {
    display: none;
  }
  html body main #third_section_continue > .container {
    padding: 0;
    margin: 0;
    width: 97%;
    border: none;
    padding-top: 3rem;
  }
  html body main #third_section_continue > .container > p {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.072rem;
    line-height: 2.2rem;
    margin-bottom: 2.5rem;
  }
  html body main #fourth_section {
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
  html body main #fourth_section > h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 1.8rem;
    font-size: 3.9rem;
  }
  html body main #fourth_section > .fourth_item_left {
    display: none;
  }
  html body main #fourth_section > .fourth_item_right {
    display: none;
  }
  html body main #fourth_section > .container #gallery4 {
    border: none;
    width: auto;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0;
    margin: 0;
  }
  html body main #fourth_section > .container #gallery4 > .wrapper {
    width: 35.815rem;
    height: 18.43rem;
  }
  html body main #fourth_section > .container #gallery4 > .wrapper > #images > div > .text-gallery {
    padding: 0;
    margin: 0;
    width: 37.7rem;
    height: 19.4rem;
  }
  html body main #fourth_section > .container #gallery4 > .wrapper > #images > div > .text-gallery > div > p {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
  }
  html body main #fourth_section > .container #gallery4 > .wrapper > #images > div > .text-gallery > div > .line {
    height: 0.1rem;
  }
  html body main #fourth_section > .container #gallery4 > .wrapper > #images > div > .gallery4_item {
    padding: 0;
    margin: 0;
    width: 35.815rem;
    height: 18.43rem;
  }
  html body main #fourth_section > .container #prev4 {
    width: 1.1rem;
    height: 2.1rem;
  }
  html body main #fourth_section > .container #next4 {
    width: 1.1rem;
    height: 2.1rem;
  }
  html body main #fourth_section #wrapper_btn4 {
    margin-top: 1rem;
  }
  html body main #fourth_section #wrapper_btn4 > button {
    padding: 0;
    margin: 0;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    width: 6px !important;
    height: 6px !important;
  }
  html body main #fifth_section {
    padding: 0;
    margin: 0;
    padding-top: 3rem;
  }
  html body main #fifth_section > h3 {
    margin-bottom: 3rem;
    font-size: 2rem;
    letter-spacing: 0.09rem;
  }
  html body main #fifth_section > .container {
    width: 100%;
  }
  html body main #fifth_section > .container > .wrapper > div > img {
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2.5rem;
    width: 18.1rem;
    height: 26.2rem;
  }
  html body main #fifth_section > .container > .wrapper > div > p {
    padding: 0;
    margin: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.4rem;
    top: 15rem;
  }
  html body main #fifth_section > .container > .wrapper > div > div {
    width: 3.7rem;
    height: 3.7rem;
  }
  html body main #fifth_section > .container > .wrapper > div > div > p {
    font-size: 2.3rem;
  }
  html body main #fifth_section > .container > button {
    width: 28.7rem;
    height: 5.7rem;
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  html body main #sixth_section {
    padding: 0;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  html body main #sixth_section > h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 3rem;
    text-shadow: 9px 2px 10px rgba(220, 199, 124, 0.48), 0 0 0 rgba(34, 34, 31, 0.75);
    font-size: 2.4rem;
    letter-spacing: 0.030rem;
  }
  html body main #sixth_section > .sixth_left {
    padding: 0;
    margin: 0;
    width: 8.8rem;
    height: 12.9rem;
    top: 36rem;
  }
  html body main #sixth_section > .sixth_right {
    padding: 0;
    margin: 0;
    width: 7.4rem;
    height: 11.3rem;
    bottom: 34rem;
  }
  html body main #sixth_section > .container {
    padding: 0;
    margin: 0;
  }
  html body main #sixth_section > .container #gallery6 {
    width: 29.6rem;
    height: 41.3rem;
  }
  html body main #sixth_section > .container #gallery6 > .wrapper > #images6 > .gallery6_item {
    padding: 0;
    margin: 0;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 23.6rem;
    height: 41.3rem;
  }
  html body main #sixth_section > .container #gallery6 > .wrapper > #images6 > .gallery6_item > img {
    padding: 0;
    margin: 0;
    width: 17.5rem;
    height: 35.3rem;
  }
  html body main #sixth_section > .container #prev6 {
    width: 1.9rem;
    height: 3.5rem;
  }
  html body main #sixth_section > .container #next6 {
    width: 1.9rem;
    height: 3.5rem;
  }
  html body main #sixth_section #wrapper_btn6 {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
  }
  html body main #sixth_section #wrapper_btn6 > button {
    padding: 0;
    margin: 0;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    width: 6px !important;
    height: 6px !important;
  }
}

@media (min-width: 551px) and (max-width: 1010px) {
  html {
    font-size: 13px;
  }
  .gallery_wrapper {
    -ms-flex-pack: distribute   !important;
        justify-content: space-around   !important;
  }
}

@media (min-width: 501px) and (max-width: 550px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 450px) and (max-width: 500px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 415px) and (max-width: 449px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 370px) and (max-width: 414px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 315px) and (max-width: 369px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 330px) {
  #second_section .gallery_wrapper img {
    width: 17.28rem !important;
    height: 16.92rem !important;
  }
  #third_section .wrapper > div > p {
    top: 12rem !important;
    font-size: 1.2rem !important;
  }
  #third_section .wrapper img {
    width: 17.46rem !important;
    height: 21.69rem !important;
  }
}
/*# sourceMappingURL=base.css.map */